<template>
  <div class="hello">
    <h1>Enter NEM address</h1>
    <p>
      <input type="text" v-model="address">
      <button v-on:click="getTransactions()">Get history</button>
    </p>

    <ul v-if="transactions.length > 0">
      <li v-for="transaction in transactions">ID: {{ transaction }}</li>
    </ul>

    <p id="error" v-if="error">{{ error }}</p>
  </div>
</template>

<script>
import nem from 'nem-sdk';

export default {
  data() {
    return {
      address: 'TCBWQO3WDQ6P45WFLZZJLQ6TVGB5Y45F4VDMM5U6', // default address
      transactions: [],
      error: null,
      endpoint: {
        protocol: 'http',
        host: 'https://adamexperimental.cyberblox.my',
        port: 7891,
      },
    };
  },
  methods: {
    resetView() {
      this.transactions = [];
      this.error = null;
    },

    getTransactions() {
      // Clean the view state before making another API call
      this.resetView();

      nem.com.requests.account.transactions.all(this.endpoint, this.address)
      .then((res) => {
        // Get the ID for each transaction
        const transactions = res.data.map(row => row.meta.id);

        // Make the transactions array available to the view
        this.transactions = transactions;
      })
      .catch((err) => {
        // Make the error message available to the view
        this.error = err.data.message;
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin: 0 10px;
}

a {
  color: #42b983;
}

input {
  width: 500px;
}

p#error {
  color: red;
}
</style>
